Config {
        -- GENERAL
        overrideRedirect = False

        -- APARIENCIA
        , font         = "xft:FontAwesome 12"
        , bgColor      = "#212121"
        , fgColor      = "#f8f8f2"
        , position     = TopSize C 100 30
        , lowerOnStart = True
        , hideOnStart  = False
        , allDesktops  = True
        , iconRoot     = "/home/fenix/.config/xmonad/xpm"

        -- PLUGINS
        , commands = [
            -- Audio
            Run Alsa "default" "Master"
	        [ "--template"
                , "<box type=Bottom width=3 color=#0db9d7><fc=#0db9d7> <volumestatus></fc></box>"
                , "--suffix"
                , "True"
                , "--"
                , "--on"
                , ""
                ]

            -- Monitor de Red
            , Run DynNetwork
	        [ "--template" , "<box type=Bottom width=3 color=#f7768e><fc=#f7768e>󰢾 </fc> <tx><fc=#f7768e>kB/s</fc> <rx><fc=#f7768e>kB/s</fc></box>"
                , "--Low"      , "1000"       -- units: B/s
                , "--High"     , "5000"       -- units: B/s
                , "--low"      , "darkgreen"
                , "--normal"   , "darkorange"
                , "--high"     , "darkred"
                ] 10

            -- Bateria
            , Run Battery
	        [ "-t" , "<box type=Bottom width=3 color=#9ece6a><fc=#9ece6a><acstatus></fc></box>"
                , "--Low"  , "20" -- Limites para colores
                , "--High" , "80"
	        , "--low"  , "#f7768e" -- Colores para límites
                , "--high" , "#9ece6a"
                , "--"
                , "-o" , "󱟞 <left>%"
                , "-O" , "󱟠 <left>%"
                , "-i" , "󰁹 <left>%"
                , "dunstify -u critical 'Batería agotada!'", "-A", "3"
                ] 50

            -- Fecha y Hora
            , Run Date  "<box type=Bottom width=3 color=#ad8ee6><fc=#ad8ee6>  %a %m-%d</fc></box>" "fecha" 50
            , Run Date "<box type=Bottom width=3 color=#8be9fd><fc=#8be9fd>  %H:%M</fc></box>" "hora" 10

	    -- Paquetes actualizables

            , Run UnsafeStdinReader
            , Run XMonadLog
            ]

            -- LAYOUT
           , sepChar  = "%"
           , alignSep = "}{"
           , template =
            -- , Run Com "date" ["+%a %m-%d"] "fecha" 600
	   "%XMonadLog% }{      %dynnetwork%     %fecha%     %hora%     %alsa:default:Master%     %battery%  "
}
